<div id="foot" class="smalltitle"> <!-- Foot -->
<span style="color:rgba(255, 255, 255, .3)"><a href="{% if page.lang =="en" %}/feed.xml{% else %}/flux.xml{% endif %}"><span class="oi" id="all" style="margin-right:5px" data-glyph="rss"></span> RSS</a> · {{ site.data.translations[page.lang].footdisclaimer }}</span>
</div>
