<div class="meta pagination">  
    {{#if prev}}
        <a class="newer-posts" href="{{page_url prev}}">&#11013; Plus récent</a>
    {{/if}}
        <span {{#unless prev}}style="float:left" {{/unless}}class="page-number">Page {{page}} sur {{pages}}</span>
    {{#if next}}
        <a class="older-posts" href="{{page_url next}}">Plus ancien &#10145;</a>
    {{/if}}
</div>
