{{!< default}}
              
    <header class="big {{#if @blog.cover}}cover" style="background-image: url({{@blog.cover}})"{{else}}"{{/if}}>
        <h1 style="font-size:2em">
            <img src="{{asset "img/design/script.png"}}" alt="Logo"> {{@blog.title}}</a>
        </h1>
        {{#is "home"}}
        <div class="meta">
            Qui et que sommes-nous ? <a class="info" href="/a-propos" style="margin-left:3px"><span class="oi" data-glyph="info"></span></a>
        </div>
        {{/is}}
    </header>

    <div id="wrapper">
    {{! The tag below includes the post loop - partials/loop.hbs }}
    {{> "loop"}}
