/* ----------------------------------------
Fonts */
@import url('/assets/fonts/Fira/fira.css');
@import url('/assets/fonts/Merriweather/merriweather.css');
@import url('/assets/fonts/fork-awesome/css/fork-awesome.min.css');
@import url('/assets/fonts/charissil/charissil.css');
input,
textarea,
.top,
select.custom,
.smalltitle {
    font-family: "Fira Sans", "Open Sans", "Cantarell", "Droid Sans", Verdana, arial, sans-serif;
}

#post p,
#post ul,
#post ol,
#post blockquote,
.post-excerpt,
.author-bio,
.meta-description {
    font-family: "Merriweather", "Charis SIL", "Bitstream Charter", Georgia, "Fira Sans", serif;
}

/* ----------------------------------------
General & Presets */
body {
    font-family: "Fira Sans", "Droid Sans", "Open Sans", Verdana, arial, sans-serif;
    font-size: 20px;
    line-height: 1.5;
    background: url(/assets/img/design/noise.png) repeat #E0E0E0;
    color: rgba(0, 0, 0, 0.8);
    margin: 0;
}
a {
    color: #346EC5;
    -webkit-transition: all .2s;
            transition: all .2s;
    cursor: pointer;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
a:active {
    outline: 0;
}
li {
    color: rgba(0, 0, 0, 0.7);
}
#nav a,
#nav span.subnav-title,
#readnext a,
section.dark {
    color: rgba(255, 255, 255, .6);
}
#nav a:hover,
#nav span.subnav-title:hover,
#readnext a:hover {
    color: rgba(255, 255, 255, .9);
}
#post a:hover {
    text-decoration: underline;
}
#wrapper {
    max-width: 1000px;
    margin: -2em auto 0;
    text-align: justify;
    position: relative;
}
.home-template #wrapper,
.author-template #wrapper,
.tag-template #wrapper,
.paged #wrapper {
    max-width: 1200px;
}
#wrapper > * {
    padding: 2.5em 10%;
    margin-left: auto;
    margin-right: auto;
}
.post #wrapper > * > * {
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
}
header.big > *:not(.meta),
header.big + section > * > * {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}
#wrapper > a {
    padding: 0;
}
pre, code {
    background-color: #FAF8F2;
    color: #777;
    border-radius: 2px;
    font-size: 80%;
}
em em {
    font-style: normal;
}
code {
    padding: 0 5px;
    font-size: 90%;
}
pre code {
   -webkit-box-shadow: 0 0;
           box-shadow: 0 0;
   padding: 0;
}
mark {
    background-color: #FFEB3B;
    color: #37474F;
    border-radius: 2px;
    padding: 2px;
}
hr {
   border-top: 2px solid #DEDEDC;
   border-bottom: 0;
   border-left: 0;
   border-right: 0;
   display: block;
   margin: 20px auto;
   width: 20%;
}
hr.wide,
hr.dark,
hr.light {
   width: 100%;
   border-width: 4px;
}
hr.dark,
hr.light {
   border-color: rgba(251, 247, 247, 0.09);
   padding: 0 !important;
   margin: 3em 0;
}
hr.light {
   border-color: rgba(0, 0, 0, .03);
   margin: 1em 0;
}
#post hr {
   margin: 50px auto;
}
.smalltitle {
    display: inline-block;
}
.smalltitle,
#isso-thread h4 {
    font-weight: 800;
    font-size: 70%;
    text-transform: uppercase;
    letter-spacing: 1px;
}




/* ----------------------------------------
Head & Navigation */
#head {
    display: inline-block;
    padding: 0 1em;
}
#foot {
    display: block;
    font-size: 70%;
    color: #777;
    padding: 2em 2em 1em;
    text-align: center;
}
#topbar {
    position: absolute;
        left: 0;
        right: 0;
        top: 0;
    z-index: 2;
    padding: 0.5em 0.6em 0.4em;
    -webkit-transition: background-color .3s;
            transition: background-color .3s;
}
#topbar.scrolled {
    background-color: rgba(24, 34, 58, 0.9);
    -webkit-box-shadow: 0 -1px rgba(0, 0, 0, 0.15) inset;
            box-shadow: 0 -1px rgba(0, 0, 0, 0.15) inset;
}
#head span {
    margin: 0;
    padding: 1em 0;
    color: #fff;
    text-transform: uppercase;
    display: inline-block;
    font-size: 80%;
    font-weight: 800;
    line-height: 1;
}
#head span.note {
    padding: 0;
    font-size: 50%;
    display: inline-block;
    position: absolute;
    font-weight: normal;
    text-transform: lowercase;
    font-style: italic;
    opacity: 0.5;
    -webkit-transform: translate(31px, -2.2em);
            transform: translate(31px, -2.2em);
}
#nav {
    display: inline-block;
    position: relative;
    float: right;
}
#nav div {
    display: inline-block;
}
#nav a,
#nav span.subnav-title {
    display: inline-block;
    margin: 0;
    padding: 1em 10px;
    border-radius: 3px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 70%;
    font-weight: 800;
}
#nav a:hover,
#nav span.subnav-title:hover {
    color: #fff;
}
#nav .subnav-title {
    cursor: pointer;
    position: relative;
}
#nav .subnav {
    position: absolute;
        right: -1.8em;
        left: -1.8em;
        top: 2.5em;
    font-size: 130%;
    background-color: rgba(18, 25, 42, 0.92);
    padding: .6em 1em;
    text-align: center;
    border-radius: 3px;
    -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
            box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
    -webkit-transform: translate(0, -20px);
            transform: translate(0, -20px);
    opacity: 0;
    -webkit-transition: all .3s;
            transition: all .3s;
    overflow: hidden;
    pointer-events: none;
}
#nav .subnav-title .fa {
    position: absolute;
        left: 0;
        right: 0;
        bottom: -.3em;
    text-align: center;
}
#nav .subnav-title:hover .subnav {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
    pointer-events: all;
}
#nav .subnav a {
    display: block !important;
}
#nav .subnav a:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.author-h {
    -webkit-animation: slider 1.2s 1;
            animation: slider .8s 1;
    display: inline-block;
}
.author-thumb {
    width: 2em;
    height: 2em;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    vertical-align: middle;
    border-radius: 50%;
    margin-left: 7px;
    margin-right: 7px;
    margin-top: -3px;
}
section.card .post-meta .author-thumb {
    margin-left: 0;
    margin-right: 0.5em;
}
header.big .meta .author-thumb {
    margin-right: 0.2em;
}
.author-image {
    padding: 0;
    display: block;
    vertical-align: middle;
    margin: -0.3em 0 .2em;
}
.author-image .img {
    width: 2.6em;
    height: 2.6em;
    margin: 0 auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    -webkit-transition: all .3s;
            transition: all .3s;
}
.author-image .img:hover {
    -webkit-transform: scale(2.1);
            transform: scale(2.1);
}
.meta-description {
    font-style: italic;
    padding: .8em 0;
    margin-bottom: -1em;
    font-size: 80%;
    color: rgba(255, 255, 255, .8);
    clear: left;
}
.logo {
    vertical-align: middle;
    max-width: 85px;
    height: auto;
}
.home-head .logo {
    display: block;
    margin: 0 auto .2em;
}
#head .logo {
    vertical-align: middle;
    max-width: 38px;
    margin-right: .2em;
}
.author-meta {
    font-size: 80%;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 1px;
    color: rgba(255, 255, 255, 0.2);
    margin: 0.3em auto;
}
.author-meta a {
   color: rgba(255, 255, 255, 0.5);
}
.author-meta span {
    display: inline-block;
    text-align: center;
    margin: 0 1em 0 0;
}
.hidden {
    visibility: hidden;
}


/* ----------------------------------------
Mobile toggle classes */
@media screen and (min-width:768px) {
    .mobileon {
        display: none !important;
    }
}
@media screen and (max-width:767px) {
    .mobileoff {
        display: none !important;
    }
}


/* ----------------------------------------
customised <select> element */
select.custom {
    margin: 0px;
    padding: 0.3em 2.9em 0.2em 0.9em;
    appearance: none;
      -moz-appearance: none;
      -webkit-appearance: none;
      -ms-appearance: none;
    font-size: 70%;
    text-transform: uppercase;
    font-weight: 800;
    font-family: "Fira Sans", "Droid Sans", "Open Sans", Verdana, arial, sans-serif;
    letter-spacing: 1px;
    background: url(/images/design/iconic/caret-bottom-2x.png) no-repeat right center transparent;
    border: 0;
    color: #fff;
    border-radius: 3px;
    -webkit-box-shadow: none;
            box-shadow: none;
    transition: all .2s;
      -webkit-transition: all .2s;
    cursor: pointer;
    position: relative;
}
select.custom.light {
    background-color: #95a5a6;
}
select.custom.dark {
    background-color: #233565;
}
select.custom.nolabel {
    background-image: none;
    padding-right: .9em;
}
#nav select {
    width: 40px;
    color: transparent;
    background: url(/assets/img/design/menu.png) no-repeat center 4px;
}
#nav select:active,
#nav select:focus {
    opacity: .7;
}


select.custom > option {
    background-color: #fafafa;
    color: rgba(0, 0, 0, .8);
    border: 0;
    text-transform: capitalize;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: normal;
}
select.custom:hover {
    background-color: #346EC5;
}
select.custom:active {
    background-color: #111;
}
select.custom > option:first-child {
    display: none;
}


/* ----------------------------------------
Article & Main content */
section {
    margin: 0 auto 1.5em;
    vertical-align: top;
    overflow: hidden;
    text-align: left;
    padding: 2.5em 10%;
    background-color: #FFF;
    -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
            box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}
.post section {
    margin: 0 auto;
}
section.dark {
    background-color: transparent;
    background-image: none !important;
    -webkit-box-shadow: none;
            box-shadow: none;
}
section.dark a,
section.dark strong {
    color: rgba(255, 255, 255, .9);
}
section.card-bg {
    background: url(/assets/img/design/noise.png) #fff;
    padding: 2.5em 0 !important;
    display:     -ms-flex;
    display:  -webkit-box;
    display:  -ms-flexbox;
    display:         flex;
    -ms-flex-flow: row wrap;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            flex-flow: row wrap;
}
section.card {
    padding: 1.9em 10%;
    -webkit-box-shadow: none;
            box-shadow: none;
    background: none;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 80%;
            flex: 1 1 80%;
}
section.card:first-child {
    padding-top: 1em;
}
section.card:last-of-type {
    margin-bottom: 0;
}
.card p {
    font-size: 90%;
}
.featured-label {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 80%;
    position: absolute;
    -webkit-transform: translate(-130%) rotate(-90deg);
        transform: translate(-130%) rotate(-90deg);
    -webkit-transform-origin: right center 0;
        transform-origin: right center 0;
}
.featured-label {
    color: rgba(170, 170, 170, 0.8);
}
.featured-label .fa {
    -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    display: inline-block;
    color: rgba(51, 51, 51, 0.8);
}
.post-meta,
.meta {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 80%;
    margin-top: .5em;
    text-align: left;
    color: rgba(170, 170, 170, 0.5);
}
header .meta {
    color: rgba(255, 255, 255, 0.5);
}
.post-meta span,
.meta span {
    display: inline-block;
}
.meta .small {
    text-transform: none;
    font-weight: normal;
    font-style: italic;
    color: #fff;
}
header .meta a:not(.info) {
    color: #4F7ABC;
}
.post-meta .tags a {
    text-transform: none;
    font-weight: normal;
    font-style: italic;
}
header .post-meta .tags a {
    color: rgba(170, 170, 170, 0.5);
}
.meta .fa,
.post-meta .fa {
    font-size: 120%;
    line-height: 1;
}
section.card .post-meta .fa {
    color: rgba(170, 170, 170, 0.8);
    margin: 0 .5em;
    float: left;
}
header.big .meta .fa {
    vertical-align: top;
    color: #FFF;
    margin-left: 0.8em;
    margin-right: 0.2em;
}
header.big .tags a {
    color: rgba(255, 255, 255, 0.7);
}
header.big .meta {
    margin: 1em 0 0;
}
.home-template header.big .meta {
    text-align: center;
}
.meta a {
    display: inline-block;
}
.meta.author-list a {
    display: inline-block;
    padding: .5em 2em .3em 0.8em;
    background-color: rgb(242, 242, 242);
    border-radius: 0.3em;
    margin: 0 0.2em 0.5em;
    -webkit-box-shadow: 0 2px rgba(0, 0, 0, 0.1);
            box-shadow: 0 2px rgba(0, 0, 0, 0.1);
    transition: all .3s;
        -webkit-transition: all .3s;
}
.meta.author-list a:hover {
    background-color: #D5E1EF;
    text-decoration: none !important;
}
.meta.author-list .author-thumb {
    width: 60px;
    height: 60px;
}
.meta > div {
    max-width: 800px;
    margin: 0 auto;
    text-align: left;
}


header h1,
section h1 {
    line-height: 1.1;
    margin-top: .5em;
    font-size: 2.2em;
    font-weight: 300;
}
header h1 {
    color: #fff;
    margin: 0;
}
header.author h1 {
    font-size: 1.6em;
    font-variant: small-caps;
    font-weight: 500;
    text-transform: lowercase;
}
.cover {
    color: rgba(255, 255, 255, 0.9);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #323232;
    -webkit-box-shadow:
        0 0 0 800px rgba(0, 0, 0, 0.55) inset,
        inset 0 -1px rgba(0, 0, 0, .2),
        inset 0 -2px 3px rgba(0, 0, 0, 0.25);
            box-shadow:
        0 0 0 800px rgba(0, 0, 0, 0.55) inset,
        inset 0 -1px rgba(0, 0, 0, .2),
        inset 0 -2px 3px rgba(0, 0, 0, 0.25);
    -webkit-transition: -webkit-box-shadow .3s;
    transition: -webkit-box-shadow .3s;
    transition: box-shadow .3s;
    transition: box-shadow .3s, -webkit-box-shadow .3s;
        -webkit-transition: box-shadow .3s;
}
header.big {
    padding: 10em 10% 9.5em;
    position: relative;
    overflow: hidden;
}
header.big.shrunk {
    padding: 10em 10% 6.5em;
}
header.big.default-cover {
    background: url(/assets/img/design/noise.png) repeat center / auto #18223A;
    -webkit-box-shadow: none;
            box-shadow: none;
}
.home-template header.big,
.paged header.big,
.tag-template header.big,
header.big.author {
    text-align: center;
}
@media (max-width:767px) {
    header.big {
        padding: 7em 10% 2em !important;
    }
}
section.recent h2 {
    font-size: 2em;
    font-weight: 300;
    line-height: 1.1;
    color: rgba(0, 0, 0, 0.8);
    margin: 0;
}
.cover h1 {
    color: #fff;
}
section.recent .post-meta > * {
    display: inline-block;
    vertical-align: middle;
}
header.cover h1,
header.cover a h3 {
    max-width: 800px;
    color: #fff;
}
section h1 a:hover {
    text-decoration:underline;
}
section h2 {
    font-size: 1.6em;
    text-align: left;
    margin: .8em 0 0;
}
section h2:not(:first-child) {
    margin: 2em 0 0;
}
section h3 {
    font-size: 1.5em;
    margin: 1.7em 0 0;
    text-align: left;
}


pre:hover {
    overflow-x: auto;
}

pre {
    overflow-x: hidden;
    padding: 30px;
}

#post {
    font-size: 95%;
}

#post,
.post-excerpt {
    line-height: 1.5;
    letter-spacing: 0.01rem;
    hyphens: auto;
        -moz-hyphens: auto;
        -webkit-hyphens: auto;
        -ms-hyphens: auto;
}
img,
iframe {
    max-width:100%;
}
#post img {
    display: block;
    border-radius: 4px;
    text-align: center;
    margin: 0px auto;
}
#post,
.post-excerpt {
    margin: 0 0 1.4em;
    color: #404041;
}
#post a img {
    border: 0 none;
}
.post figcaption {
    font-style: italic;
    font-size: 85%;
    color: rgba(0, 0, 0, 0.4);
    text-align: center;
}
blockquote {
    font-style: italic;
    margin: 22px 0;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.4);
    text-align: center;
    font-size: 150%;
}
.footnotes {
    font-style: italic;
    position: relative;
    opacity: .8;
    font-size: 80%;
    margin-top: 7.5em;
}
.footnotes:before {
    content: "Notes";
    font-weight: 800;
    text-transform: uppercase;
    font-size: 80%;
    font-style: normal;
    position: absolute;
    top: -2.8em;
}
.footnotes ol {
    padding: 0;
}
section.footnotes {
    box-shadow: none;
}
.pagination {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
        flex: 1 1 100%;
    text-align: center;
    padding: 0 10%;
    color: rgba(170, 170, 170, 0.5);
}
.newer-posts {
    float: left;
}
.older-posts {
    float: right;
}

.more,
.info {
    display: inline-block;
    width: 26px;
    height: 17px;
    font-weight: normal;
    color: rgba(255, 255, 255, .8);
    text-align: center;
    border-radius: .5em;
    background-color: rgba(255, 255, 255, .2);
    transition: all .3s;
        -webkit-transition: all .3s;
    line-height: 19px;
}
.more:hover,
.info:hover {
    background-color: rgba(255, 255, 255, .6);
    color: #111;
}
.info {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    transition: all .3s;
        -webkit-transition: all .3s;
    line-height: 32px;
    vertical-align: middle;
    font-size: 13px;
}
.info .fa {
    margin: 0 !important;
    line-height: 30px;
    font-size: 100%;
    color: inherit;
}

@media screen and (min-width:920px) {
    blockquote {
        margin: 72px -50px;
    }
}

/* General media queries */
@media (max-width: 979px) {
  body {
    font-size: 18px;
  }

  article h1,
  .home article h3 {
    font-size: 2.5em;
  }
}
@media (min-width: 768px) {
    .archives div li > a > span {
        width: 1.3em;
    }
    section.page,
    section.card-bg {
        -webkit-animation: slideup 1.2s 1;
                animation: slideup .8s 1;
    }
    section.recent:nth-child(2),
    section.recent:nth-child(5),
    section.recent:nth-child(9) {
        font-size: 75%;
        -webkit-box-flex: 1;
        -ms-flex: 1 1 37%;
            flex: 1 1 37%;
        padding-left: 10% !important;
        padding-right: 2% !important;
        background-color: rgba(0, 0, 0, 0.05);
    }
    section.recent:nth-child(3),
    section.recent:nth-child(6),
    section.recent:nth-child(10) {
        -webkit-box-flex: 1;
          -ms-flex: 1 1 37%;
              flex: 1 1 37%;
        font-size: 75%;
        padding-left: 2% !important;
        padding-right: 10% !important;
        background-color: rgba(0, 0, 0, 0.05);
        margin-bottom: 1.5em;
    }
    header.big .meta {
        text-align: center;
        position: absolute;
        bottom: 4em;
        left: 0;
        right: 0;
        font-size: 70%;
        padding: 2em 0 4em;
        margin-bottom: -4em;
        overflow-x: hidden;
        overflow-y: hidden;
        white-space: nowrap;
    }
    header.big.cover .meta {
        background-image: -webkit-gradient(linear, left bottom, left top, color-stop(50%, rgba(0, 0, 0, 0.3)), to(transparent));
        background-image: linear-gradient(to top, rgba(0, 0, 0, 0.3) 50%, transparent);
    }
}
@media (max-width: 767px) {
    body {
        font-size: 16px;
    }
    #nav {
        margin-top: .3em;
    }
    #wrapper {
        margin-top: 0;
    }
    header h1,
    section h1 {
        font-size: 1.8em;
    }
    section.recent h2 {
        font-size: 1.6em;
        margin: 0;
    }
    section.card.even:not(.featured) {
        background-color: rgba(0, 0, 0, 0.05);
    }
    #head > a > img {
        width: 16px;
        height: auto;
    }
    #topbar {
        padding: 0.5em 10% 0.4em;
    }
    #head {
        padding: 0;
    }
    blockquote {
        font-size: 120%;
    }
    header.big .meta {
        padding: 1em 15%;
        margin: 3em -15% -2.5em !important;
        overflow-x: hidden;
        overflow-y: visible;
        position: relative;
    }
    header.big.cover .meta {
        background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.6)), to(transparent));
        background-image: linear-gradient(to top, rgba(0, 0, 0, 0.6), transparent);
    }
}
@media (max-width: 500px) {
    section.card-bg .post-excerpt,
    .featured-label,
    #head .author-top,
    .home-template header .meta .small {
        display: none;
    }
}
@media (max-width: 400px) {
  blockquote {
      font-size: 100%;
  }
}

/* ANIMATIONS */

/* Slide upward */
@keyframes slideup {
    0% { -webkit-transform: translate(0, 60px); transform: translate(0, 60px); opacity: 0; }
    100% { -webkit-transform: translate(0, 0); transform: translate(0, 0); opacity: 1; }
}
@-webkit-keyframes slideup {
    0% { -webkit-transform: translate(0, 60px); opacity: 0; }
    100% { -webkit-transform: translate(0, 0); opacity: 1; }
}
/* Slide rightward */
@keyframes slider {
    0% { -webkit-transform: translate(-60px, 0); transform: translate(-60px, 0); opacity: 0; }
    100% { -webkit-transform: translate(0, 0); transform: translate(0, 0); opacity: 1; }
}
@-webkit-keyframes slider {
    0% { -webkit-transform: translate(-60px, 0); opacity: 0; }
    100% { -webkit-transform: translate(0, 0); opacity: 1; }
}

/* Slide downward */
@keyframes slidedown {
    0% { -webkit-transform: translate(0, -60px); transform: translate(0, -60px); opacity: 0; }
    100% { -webkit-transform: translate(0, 0); transform: translate(0, 0); opacity: 1; }
}
@-webkit-keyframes slidedown {
    0% { -webkit-transform: translate(0, -60px); opacity: 0; }
    100% { -webkit-transform: translate(0, 0); opacity: 1; }
}

/* ----------------------------------------
customised /search output */

.search-box {
    width: 100%;
    height: 50px;
    position: relative;
}
.search-box input#search-field {
    width: 100%;
    height: 50px;
    background-color: #E0E0E0;
    border: none;
    text-indent: 45px;
    border-radius: 5px;
}
.search-icon {
    position: absolute;
    margin-left: 15px;
    margin-top: 15px;
}
