/* ----------------------------------------
Fonts */
@import url('/assets/fonts/Fira/fira.css');
@import url('/assets/fonts/Merriweather/merriweather.css');
@import url('/assets/fonts/openiconic/css/open-iconic.css');
input,
textarea,
.top,
select.custom,
.smalltitle {
    font-family: "Fira Sans", "Open Sans", "Cantarell", "Droid Sans", Verdana, arial, sans-serif;
}

#post p,
#post ul,
#post ol,
#post blockquote,
.post-excerpt,
.author-bio {
    font-family: 'Merriweather', "Charis SIL", "Bitstream Charter", Georgia, "Fira Sans", serif;
}

/* ----------------------------------------
General & Presets */
body {
    font: 20px/1.5 "Fira Sans", "Droid Sans", "Open Sans", Verdana, arial, sans-serif;
    background: url(/assets/img/design/noise.png) repeat #18223A;
    color: rgba(0, 0, 0, 0.8);
    margin: 0;
}
a {
    color: #346EC5;
    transition: all .2s;
    cursor: pointer;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
a:active {
    outline: 0;
}
li {
    color: rgba(0, 0, 0, 0.7);
}
#nav a,
#nav span.subnav-title,
#readnext a,
#foot a,
section.dark {
    color: rgba(255, 255, 255, .6);
}
#nav a:hover,
#nav span.subnav-title:hover,
#readnext a:hover,
#foot a:hover {
    color: rgba(255, 255, 255, .9);
}
#post a:hover {
    text-decoration: underline;
}
#wrapper {
    max-width: 1000px;
    margin: -2em auto 0;
    text-align: justify;
    position: relative;
}
.post #wrapper {
    max-width: none;
}
#wrapper > * {
    padding: 2.5em 10%;
    margin-left: auto;
    margin-right: auto;
}
.post #wrapper > * > * {
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
}
header.big > *,
header.big + section > * > * {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}
#wrapper > a {
    padding: 0;
}
pre, code {
    background-color: #FAF8F2;
    color: #777;
    border-radius: 2px;
    font-size: 80%;
}
em em {
    font-style: normal;
}
code {
    padding: 0 5px;
    font-size: 90%;
}
pre code {
   box-shadow: 0 0;
   padding: 0;
}
hr {
   border-top: 2px solid #DEDEDC;
   border-bottom: 0;
   border-left: 0;
   border-right: 0;
   display: block;
   margin: 20px auto;
   width: 20%;
}
hr.wide,
hr.dark,
hr.light {
   width: 100%;
   border-width: 4px;
}
hr.dark,
hr.light {
   border-color: rgba(251, 247, 247, 0.09);
   padding: 0 !important;
   margin: 3em 0;
}
hr.light {
   border-color: rgba(0, 0, 0, .03);
   margin: 1em 0;
}
#post hr {
   margin: 50px auto;
}
.smalltitle {
    display: inline-block;
}
.smalltitle,
#isso-thread h4 {
    font-weight: 800;
    font-size: 70%;
    text-transform: uppercase;
    letter-spacing: 1px;
}




/* ----------------------------------------
Head & Navigation */
#head {
    display: inline-block;
    padding: 0 1em;
}
#foot {
    display: block;
    font-size: 60%;
    padding: 2em 2em 1em;
    text-align: center;
}
#topbar {
    position: absolute;
        left: 0;
        right: 0;
        top: 0;
    z-index: 2;
    padding: 0.5em 0.6em 0.4em;
    transition: background-color .3s;
}
#topbar.scrolled {
    background-color: rgba(24, 34, 58, 0.9);
    box-shadow: 0px -1px rgba(0, 0, 0, 0.15) inset;
}
#head span {
    margin: 0;
    padding: 1em 0;
    color: #fff;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: inline-block;
    font-size: 70%;
    font-weight: 800;
}
#head span.note {
    padding: 0;
    font-size: 50%;
    display: inline-block;
    position: absolute;
    font-weight: normal;
    text-transform: lowercase;
    font-style: italic;
    opacity: 0.5;
    transform: translate(31px, -2.2em);
}
#head > a > img {
    vertical-align: middle;
    margin-right: 10px;
    width: 16px;
}
.home-template #head > a:nth-child(1) {
    visibility: hidden;
}
#nav {
    display: inline-block;
    position: relative;
    float: right;
}
#nav div {
    display: inline-block;
}
#nav a,
#nav span.subnav-title {
    display: inline-block;
    margin: 0;
    padding: 1em 10px;
    border-radius: 3px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 70%;
    font-weight: 800;
}
#nav a:hover,
#nav span.subnav-title:hover {
    color: #fff;
}
#nav .subnav-title {
    cursor: pointer;
    position: relative;
}
#nav .subnav {
    position: absolute;
        right: -1.8em;
        left: -1.8em;
        top: 2.5em;
    font-size: 130%;
    background-color: rgba(18, 25, 42, 0.92);
    padding: .6em 1em;
    text-align: center;
    border-radius: 3px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
    transform: translate(0, -20px);
    opacity: 0;
    transition: all .3s;
    overflow: hidden;
    pointer-events: none;
}
#nav .subnav-title .oi {
    position: absolute;
        left: 0;
        right: 0;
        bottom: -.3em;
    text-align: center;
}
#nav .subnav-title:hover .subnav {
    opacity: 1;
    transform: translate(0);
    pointer-events: all;
}
#nav .subnav a {
    display: block !important;
}
#nav .subnav a:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.author-h {
    animation: slider .8s 1;
       -webkit-animation: slider 1.2s 1;
    display: inline-block;
}
.author-profile > * {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}
.author-thumb {
    width: 30px;
    height: 30px;
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
    border-radius: 50%;
    margin-left: 7px;
    margin-right: 7px;
    margin-top: -3px;
}
section.card .post-meta .author-thumb {
    margin-left: 0;
}
.author-image {
    padding: 0;
    display: inline-block;
    vertical-align: middle;
    float: left;
    margin: -0.3em 1em 0 0;
}
.author-image .img {
    width: 2.6em;
    height: 2.6em;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    transition: all .3s;
}
.author-image .img:hover {
    transform: scale(2.1);
}
.author-title {
    vertical-align: middle;
    margin: .5em 0 -.2em 0;
    color: rgba(255, 255, 255, .8);
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 95%;
    text-align: left !important;
}
.author-bio {
    font-style: italic;
    padding: .8em 0;
    margin-bottom: -1em;
    font-size: 80%;
    color: rgba(255, 255, 255, .8);
}
.author-meta {
    font-size: 80%;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 1px;
    color: rgba(255, 255, 255, 0.2);
    margin: 0.3em auto;
}
.author-meta a {
   color: rgba(255, 255, 255, 0.5);
}
.author-meta span {
    display: inline-block;
    text-align: center;
    margin: 0 1em 0 0;
}
.hidden {
    visibility: hidden;
}


/* ----------------------------------------
Mobile toggle classes */
@media screen and (min-width:768px) {
    .mobileon {
        display: none !important;
    }
}
@media screen and (max-width:767px) {
    .mobileoff {
        display: none !important;
    }
}


/* ----------------------------------------
customised <select> element */
select.custom {
    margin: 0px;
    padding: 0.3em 2.9em 0.2em 0.9em;
    appearance: none;
      -moz-appearance: none;
      -webkit-appearance: none;
      -ms-appearance: none;
    font-size: 70%;
    text-transform: uppercase;
    font-weight: 800;
    font-family: "Fira Sans", "Droid Sans", "Open Sans", Verdana, arial, sans-serif;
    letter-spacing: 1px;
    background: url(/images/design/iconic/caret-bottom-2x.png) no-repeat right center transparent;
    border: 0;
    color: #fff;
    border-radius: 3px;
    box-shadow: none;
    transition: all .2s;
      -webkit-transition: all .2s;
    cursor: pointer;
    position: relative;
}
select.custom.light {
    background-color: #95a5a6;
}
select.custom.dark {
    background-color: #233565;
}
select.custom.nolabel {
    background-image: none;
    padding-right: .9em;
}
#nav select {
    width: 40px;
    color: transparent;
    background: url(/assets/img/design/menu.png) no-repeat center 4px;
}
#nav select:active,
#nav select:focus {
    opacity: .7;
}


select.custom > option {
    background-color: #fafafa;
    color: rgba(0, 0, 0, .8);
    border: 0;
    text-transform: capitalize;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: normal;
}
select.custom:hover {
    background-color: #346EC5;
}
select.custom:active {
    background-color: #111;
}
select.custom > option:first-child {
    display: none;
}


/* ----------------------------------------
Article & Main content */
section {
    margin: 0 auto 1.5em;
    vertical-align: top;
    overflow: hidden;
    text-align: left;
    padding: 2.5em 10%;
    background-color: #FFF;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}
.post section {
    margin: 0 auto;
}
section.dark {
    background-color: transparent;
    background-image: none !important;
    box-shadow: none;
}
section.dark a,
section.dark strong {
    color: rgba(255, 255, 255, .9);
}
section.card-bg {
    background: url(/assets/img/design/noise.png) #fff;
    padding: 2.5em 0 !important;
    display: -webkit-flex;
    display:     -ms-flex;
    display:         flex;
    -webkit-flex-flow: row wrap;
            flex-flow: row wrap;
}
section.card {
    padding: 1.9em 10%;
    box-shadow: none;
    background: none;
    -webkit-flex: 1 1 80%;
    	    flex: 1 1 80%;
}
section.card:first-child {
    padding-top: 1em;
}
section.card:last-child {
    margin-bottom: 0;
}
.card p {
    font-size: 90%;
}
.featured-label {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 80%;
    position: absolute;
    transform: translate(-130%) rotate(-90deg);
        -webkit-transform: translate(-130%) rotate(-90deg);
    transform-origin: right center 0;
        -webkit-transform-origin: right center 0;
}
.featured-label {
    color: rgba(170, 170, 170, 0.8);
}
.featured-label .oi {
    transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
    display: inline-block;
    color: rgba(51, 51, 51, 0.8);
}
.post-meta,
.meta {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 80%;
    margin-top: .5em;
    text-align: left;
    color: rgba(170, 170, 170, 0.5);
}
.post-meta .tags a {
    text-transform: none;
    font-weight: normal;
    font-style: italic;
}
.post-meta .tags .oi {
    font-size: 120%;
    color: rgba(170, 170, 170, 0.8);
    margin-left: 0.5em;
    float: right;
}
section.card .post-meta .tags {
    display: block;
    text-align: right;
}

header.big .tags a {
    color: rgba(255, 255, 255, 0.7);
}
header.big .meta {
    margin: 1em 0 0;
}
.home-template header.big .meta {
    text-align: center;
}
.meta a {
    display: inline-block;
}
.meta.author-list a {
    display: inline-block;
    padding: .5em 2em .3em 0.8em;
    background-color: rgb(242, 242, 242);
    border-radius: 0.3em;
    margin: 0 0.2em 0.5em;
    box-shadow: 0 2px rgba(0, 0, 0, 0.1);
    transition: all .3s;
        -webkit-transition: all .3s;
}
.meta.author-list a:hover {
    background-color: #D5E1EF;
    text-decoration: none !important;
}
.meta.author-list .author-thumb {
    width: 60px;
    height: 60px;
}
body:not(.post) #wrapper > header {
    padding-top: 4em;
}
body.left #wrapper > header {
    padding-top: 1em;
}
header h1,
section h1 {
    line-height: 1.1;
    margin-top: .5em;
    font-size: 2.2em;
    font-weight: 300;
}
header h1 {
    color: #fff;
    margin: 0;
}

.cover {
    color: rgba(255, 255, 255, 0.9);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #323232;
    box-shadow:
	0 0 0 800px rgba(0, 0, 0, 0.55) inset,
	inset 0 -1px rgba(0, 0, 0, .2),
	inset 0 -2px 3px rgba(0, 0, 0, 0.25);
    transition: box-shadow .3s;
      -webkit-transition: box-shadow .3s;
}
header.big {
    padding: 10em 10% 7.5em !important;
    position: relative;
    overflow: hidden;
}
.home-template header.big,
.archive-template header.big,
.tag-template header.big {
    text-align: center;
}
@media (max-width:767px) {
    header.big {
        padding: 7em 10% 2em !important;
    }
}
section.recent h2 {
    font-size: 2em;
    font-weight: 300;
    line-height: 1.1;
    color: rgba(0, 0, 0, 0.8);
    margin: 0;
}
.cover h1 {
    color: #fff;
}
section.recent .post-meta > * {
    display: inline-block;
    vertical-align: middle;
}
header.cover h1,
header.cover a h3 {
    max-width: 800px;
    color: #fff;
}
section h1 a:hover {
    text-decoration:underline;
}
section h2 {
    font-size: 200%;
    text-align: left;
    margin: .8em 0 0;
}
section h2:not(:first-child) {
    margin: 2em 0 0;
}
section h3 {
    font-size: 180%;
    margin: 1.7em 0 0;
    letter-spacing: -2px;
    text-align: left;
}

pre:hover {
    overflow-x: auto;
}

pre {
    overflow-x: hidden;
    padding: 30px;
}

#post {
    font-size: 95%;
}

#post,
.post-excerpt {
    line-height: 1.5;
    letter-spacing: 0.01rem;
    hyphens: auto;
        -moz-hyphens: auto;
        -webkit-hyphens: auto;
        -ms-hyphens: auto;
}
img,
iframe {
    max-width:100%;
}
#post,
.post-excerpt {
    margin: 0 0 1.4em;
    color: #404041;
}
#post a img {
    border: 0 none;
}
blockquote {
    font-style: italic;
    margin: 22px 0;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.4);
    text-align: center;
    font-size: 150%;
}
.pagination {
    -webkit-flex: 1 1 100%;
	    flex: 1 1 100%;
    text-align: center;
    padding: 0 10%;
}
.newer-posts {
    float: left;
}
.older-posts {
    float: right;
}

.more,
.info {
    display: inline-block;
    width: 26px;
    height: 17px;
    font-weight: normal;
    color: rgba(255, 255, 255, .8);
    text-align: center;
    border-radius: .5em;
    background-color: rgba(255, 255, 255, .2);
    transition: all .3s;
        -webkit-transition: all .3s;
    line-height: 19px;
}
.more:hover,
.info:hover {
    background-color: rgba(255, 255, 255, .6);
    color: #111;
}
.info {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    transition: all .3s;
        -webkit-transition: all .3s;
    line-height: 32px;
    vertical-align: middle;
    font-size: 13px;
}

@media screen and (min-width:920px) {
    blockquote {
        margin: 72px -50px;
    }
}

/* General media queries */
@media (max-width: 979px) {
  body {
    font-size: 18px;
  }

  article h1,
  .home article h3 {
    font-size: 2.5em;
  }
}
@media (min-width: 768px) {
	.archives div li > a > span {
	    width: 1.3em;
	}
    section.page,
    section.card-bg {
        animation: slideup .8s 1;
           -webkit-animation: slideup 1.2s 1;
    }
	section.recent:nth-child(2),
	section.recent:nth-child(5),
	section.recent:nth-child(9) {
	    font-size: 75%;
	    -webkit-flex: 1 1 37%;
		    flex: 1 1 37%;
	    padding-left: 10% !important;
	    padding-right: 2% !important;
	    background-color: rgba(0, 0, 0, 0.05);
	}
	section.recent:nth-child(3),
	section.recent:nth-child(6),
	section.recent:nth-child(10) {
	    -webkit-flex: 1 1 37%;
		    flex: 1 1 37%;
	    font-size: 75%;
	    padding-left: 2% !important;
	    padding-right: 10% !important;
	    background-color: rgba(0, 0, 0, 0.05);
	}
    .home-template header.big {
        padding-bottom: 10em !important;
    }
    .home-template header.big .meta {
        text-align: center;
        position: absolute;
        bottom: 4em;
        left: 0;
        right: 0;
        font-size: 70%;
        background-color: rgba(0, 0, 0, 0.4);
        padding: 2em 0 4em;
        margin-bottom: -4em;
        overflow-x: hidden;
        overflow-y: hidden;
        white-space: nowrap;
    }
}
@media (max-width: 767px) {
	body {
	    font-size: 16px;
	}
	#nav {
	    margin-top: .3em;
	}
	#wrapper {
	    margin-top: 0;
	}
	header h1,
	section h1 {
	    font-size: 1.6em;
	}
	section.recent h2 {
	    font-size: 1.6em;
	    margin: 0;
	}
    section.card.even {
        background-color: rgba(0, 0, 0, 0.05);
    }
	#head > a > img {
	    width: 16px;
	    height: auto;
	}
	blockquote {
	    font-size: 120%;
	}
    .home-template header.big .meta {
        padding: 1em 15%;
        margin: 3em -15% -2.5em !important;
        overflow-x: hidden;
        white-space: nowrap;
        overflow-y: visible;
        background-color: rgba(0, 0, 0, 0.4);
        position: relative;
    }
    .home-template header.big .meta > div {
        animation: autoslidel linear 30s infinite;
            -webkit-animation: autoslidel linear 30s infinite;
    }
}
@media (max-width: 500px) {
    section.card-bg .post-excerpt {
        display: none;
    }
}
@media (max-width: 400px) {
  blockquote {
      font-size: 100%;
  }
}

/* ANIMATIONS */

/* Slide upward */
@keyframes slideup {
    0% { transform: translate(0, 60px); opacity: 0; }
    100% { transform: translate(0, 0); opacity: 1; }
}
@-webkit-keyframes slideup {
    0% { -webkit-transform: translate(0, 60px); opacity: 0; }
    100% { -webkit-transform: translate(0, 0); opacity: 1; }
}
/* Slide rightward */
@keyframes slider {
    0% { transform: translate(-60px, 0); opacity: 0; }
    100% { transform: translate(0, 0); opacity: 1; }
}
@-webkit-keyframes slider {
    0% { -webkit-transform: translate(-60px, 0); opacity: 0; }
    100% { -webkit-transform: translate(0, 0); opacity: 1; }
}

/* Slide downward */
@keyframes slidedown {
    0% { transform: translate(0, -60px); opacity: 0; }
    100% { transform: translate(0, 0); opacity: 1; }
}
@-webkit-keyframes slidedown {
    0% { -webkit-transform: translate(0, -60px); opacity: 0; }
    100% { -webkit-transform: translate(0, 0); opacity: 1; }
}

/* Autoslide */
@keyframes autoslidel {
    0% { transform: translate(130%, 0); }
    100% { transform: translate(-230%, 0); }
}
@-webkit-keyframes autoslidel {
    0% { -webkit-transform: translate(130%, 0); }
    100% { -webkit-transform: translate(130%, 0); }
}
